<!-- Your header content -->
{{ html_header|safe }}
{{ header_scripts|safe }}
</head>
    <body>
        <!-- Your MAIN content -->
        <div class="gridContainer">
            <!-- The navigation bar -->
            <div class="navigation">
                
            </div>
            <div class="categoryCharts">
                <!-- Category Charts-->
                {{ account_overview_html|safe }}
            </div>
            <!-- Listmanager -->
            <div class="listManager">
                
            </div>
        </div>
        <!-- Footer content -->
        <script type="module" src="{{ url_for('static', filename='app.js') }}"></script>
        {{ footer_scripts|safe }}
    </body>
</html>