<!DOCTYPE html>
<html>
<head>
    <!-- Your header content -->
    {{ html_header|safe }}
    {{ header_scripts|safe }}
</head>
<body>
    <!-- Here's where the live toots will be rendered -->
    {{ live_toots_html|safe }}
    
    <!-- And the account overview -->
    {{ account_overview_html|safe }}

    <!-- The All-Time Follower Chart-->
    {{ follower_chart_html|safe }}
    
    <!-- Footer content -->
    <script type="module" src="{{ url_for('static', filename='app.js') }}"></script>
    {{ footer_scripts|safe }}
    {{ html_footer|safe }}
</body>